@charset "utf-8"

@import "../sass/minireset"
@import "../sass/functions"
@import "../sass/variables"
@import "../sass/mixins"
@import "../sass/tooltip"

@import "../sass/base"
@import "../sass/controls"
@import "../sass/menu"
@import "../sass/header"
@import "../sass/footer"
@import "../sass/index"
@import "../sass/finder"
@import "../sass/heading"
@import "../sass/list"
@import "../sass/property"
@import "../sass/example"
@import "../sass/modal"
@import "../sass/keyframes"
@import "../sass/sister"

@import "../sass/elements"
@import "../sass/ff"

.modal,
.bsa-cpc
  z-index: 50

.menu
  z-index: 40

.footer
  z-index: 30

.properties,
.list
  z-index: 20

.header
  z-index: 10
