<link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/favicons/apple-touch-icon.png?v=201611221819">
<link rel="icon" type="image/png" href="{{site.url}}/favicons/favicon-32x32.png?v=201611221819" sizes="32x32">
<link rel="icon" type="image/png" href="{{site.url}}/favicons/favicon-16x16.png?v=201611221819" sizes="16x16">
<link rel="manifest" href="{{site.url}}/favicons/manifest.json?v=201611221819">
<link rel="mask-icon" href="{{site.url}}/favicons/safari-pinned-tab.svg?v=201611221819" color="#05ffb0">
<link rel="shortcut icon" href="{{site.url}}/favicons/favicon.ico?v=201611221819">
<meta name="msapplication-config" content="{{site.url}}/favicons/browserconfig.xml?v=201611221819">
<meta name="theme-color" content="#05ffb0">