<footer class="sisters">
  <div class="sister sister--htmlreference container">
    <h4 class="sister-title">
      Check out our sister website:<br>
      <strong>HTML Reference</strong> 😃
    </h4>
    <a class="sister-banner" href="https://htmlreference.io">
      <img src="{{site.url}}/images/html-reference-logo.png" alt="HTML Reference logo">
    </a>
  </div>
  <div class="sister sister--bulma container">
    <h4 class="sister-title">
      Need a CSS framework?<br>
      Try out <strong>Bulma</strong> 😎
    </h4>
    <a class="sister-banner" href="https://bulma.io">
      <img src="{{site.url}}/images/bulma-logo.png" alt="Bulma logo">
    </a>
  </div>
</footer>
