<article class="menu-item list-item" data-property-name="align-content">
  <a class="list-name" href="{{site.url}}/property/align-content">
    <span class="menu-item-name">align-content</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/flexbox/">
          <strong>flexbox</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="align-items">
  <a class="list-name" href="{{site.url}}/property/align-items">
    <span class="menu-item-name">align-items</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/flexbox/">
          <strong>flexbox</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="align-self">
  <a class="list-name" href="{{site.url}}/property/align-self">
    <span class="menu-item-name">align-self</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/flexbox/">
          <strong>flexbox</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="animation-delay">
  <a class="list-name" href="{{site.url}}/property/animation-delay">
    <span class="menu-item-name">animation-delay</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/animations/">
          <strong>animations</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="animation-direction">
  <a class="list-name" href="{{site.url}}/property/animation-direction">
    <span class="menu-item-name">animation-direction</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/animations/">
          <strong>animations</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="animation-duration">
  <a class="list-name" href="{{site.url}}/property/animation-duration">
    <span class="menu-item-name">animation-duration</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/animations/">
          <strong>animations</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="animation-fill-mode">
  <a class="list-name" href="{{site.url}}/property/animation-fill-mode">
    <span class="menu-item-name">animation-fill-mode</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/animations/">
          <strong>animations</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="animation-iteration-count">
  <a class="list-name" href="{{site.url}}/property/animation-iteration-count">
    <span class="menu-item-name">animation-iteration-count</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/animations/">
          <strong>animations</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="animation-name">
  <a class="list-name" href="{{site.url}}/property/animation-name">
    <span class="menu-item-name">animation-name</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/animations/">
          <strong>animations</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="animation-play-state">
  <a class="list-name" href="{{site.url}}/property/animation-play-state">
    <span class="menu-item-name">animation-play-state</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/animations/">
          <strong>animations</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="animation-timing-function">
  <a class="list-name" href="{{site.url}}/property/animation-timing-function">
    <span class="menu-item-name">animation-timing-function</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/animations/">
          <strong>animations</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="animation">
  <a class="list-name" href="{{site.url}}/property/animation">
    <span class="menu-item-name">animation</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/animations/">
          <strong>animations</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="background-attachment">
  <a class="list-name" href="{{site.url}}/property/background-attachment">
    <span class="menu-item-name">background-attachment</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/backgrounds/">
          <strong>backgrounds</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="background-clip">
  <a class="list-name" href="{{site.url}}/property/background-clip">
    <span class="menu-item-name">background-clip</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/backgrounds/">
          <strong>backgrounds</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="background-color">
  <a class="list-name" href="{{site.url}}/property/background-color">
    <span class="menu-item-name">background-color</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/backgrounds/">
          <strong>backgrounds</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="background-image">
  <a class="list-name" href="{{site.url}}/property/background-image">
    <span class="menu-item-name">background-image</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/backgrounds/">
          <strong>backgrounds</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="background-origin">
  <a class="list-name" href="{{site.url}}/property/background-origin">
    <span class="menu-item-name">background-origin</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/backgrounds/">
          <strong>backgrounds</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="background-position">
  <a class="list-name" href="{{site.url}}/property/background-position">
    <span class="menu-item-name">background-position</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/backgrounds/">
          <strong>backgrounds</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="background-repeat">
  <a class="list-name" href="{{site.url}}/property/background-repeat">
    <span class="menu-item-name">background-repeat</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/backgrounds/">
          <strong>backgrounds</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="background-size">
  <a class="list-name" href="{{site.url}}/property/background-size">
    <span class="menu-item-name">background-size</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/backgrounds/">
          <strong>backgrounds</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="background">
  <a class="list-name" href="{{site.url}}/property/background">
    <span class="menu-item-name">background</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/backgrounds/">
          <strong>backgrounds</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="border-bottom-color">
  <a class="list-name" href="{{site.url}}/property/border-bottom-color">
    <span class="menu-item-name">border-bottom-color</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="border-bottom-left-radius">
  <a class="list-name" href="{{site.url}}/property/border-bottom-left-radius">
    <span class="menu-item-name">border-bottom-left-radius</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="border-bottom-right-radius">
  <a class="list-name" href="{{site.url}}/property/border-bottom-right-radius">
    <span class="menu-item-name">border-bottom-right-radius</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="border-bottom-style">
  <a class="list-name" href="{{site.url}}/property/border-bottom-style">
    <span class="menu-item-name">border-bottom-style</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="border-bottom-width">
  <a class="list-name" href="{{site.url}}/property/border-bottom-width">
    <span class="menu-item-name">border-bottom-width</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/box-model/">
          <strong>box-model</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="border-bottom">
  <a class="list-name" href="{{site.url}}/property/border-bottom">
    <span class="menu-item-name">border-bottom</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="border-collapse">
  <a class="list-name" href="{{site.url}}/property/border-collapse">
    <span class="menu-item-name">border-collapse</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="border-color">
  <a class="list-name" href="{{site.url}}/property/border-color">
    <span class="menu-item-name">border-color</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="border-left-color">
  <a class="list-name" href="{{site.url}}/property/border-left-color">
    <span class="menu-item-name">border-left-color</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="border-left-style">
  <a class="list-name" href="{{site.url}}/property/border-left-style">
    <span class="menu-item-name">border-left-style</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="border-left-width">
  <a class="list-name" href="{{site.url}}/property/border-left-width">
    <span class="menu-item-name">border-left-width</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/box-model/">
          <strong>box-model</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="border-left">
  <a class="list-name" href="{{site.url}}/property/border-left">
    <span class="menu-item-name">border-left</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="border-radius">
  <a class="list-name" href="{{site.url}}/property/border-radius">
    <span class="menu-item-name">border-radius</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="border-right-color">
  <a class="list-name" href="{{site.url}}/property/border-right-color">
    <span class="menu-item-name">border-right-color</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="border-right-style">
  <a class="list-name" href="{{site.url}}/property/border-right-style">
    <span class="menu-item-name">border-right-style</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="border-right-width">
  <a class="list-name" href="{{site.url}}/property/border-right-width">
    <span class="menu-item-name">border-right-width</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/box-model/">
          <strong>box-model</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="border-right">
  <a class="list-name" href="{{site.url}}/property/border-right">
    <span class="menu-item-name">border-right</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="border-style">
  <a class="list-name" href="{{site.url}}/property/border-style">
    <span class="menu-item-name">border-style</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="border-top-color">
  <a class="list-name" href="{{site.url}}/property/border-top-color">
    <span class="menu-item-name">border-top-color</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="border-top-left-radius">
  <a class="list-name" href="{{site.url}}/property/border-top-left-radius">
    <span class="menu-item-name">border-top-left-radius</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="border-top-right-radius">
  <a class="list-name" href="{{site.url}}/property/border-top-right-radius">
    <span class="menu-item-name">border-top-right-radius</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="border-top-style">
  <a class="list-name" href="{{site.url}}/property/border-top-style">
    <span class="menu-item-name">border-top-style</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="border-top-width">
  <a class="list-name" href="{{site.url}}/property/border-top-width">
    <span class="menu-item-name">border-top-width</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/box-model/">
          <strong>box-model</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="border-top">
  <a class="list-name" href="{{site.url}}/property/border-top">
    <span class="menu-item-name">border-top</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="border-width">
  <a class="list-name" href="{{site.url}}/property/border-width">
    <span class="menu-item-name">border-width</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/box-model/">
          <strong>box-model</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="border">
  <a class="list-name" href="{{site.url}}/property/border">
    <span class="menu-item-name">border</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="bottom">
  <a class="list-name" href="{{site.url}}/property/bottom">
    <span class="menu-item-name">bottom</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/positioning/">
          <strong>positioning</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="box-shadow">
  <a class="list-name" href="{{site.url}}/property/box-shadow">
    <span class="menu-item-name">box-shadow</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="box-sizing">
  <a class="list-name" href="{{site.url}}/property/box-sizing">
    <span class="menu-item-name">box-sizing</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/box-model/">
          <strong>box-model</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="clear">
  <a class="list-name" href="{{site.url}}/property/clear">
    <span class="menu-item-name">clear</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="color">
  <a class="list-name" href="{{site.url}}/property/color">
    <span class="menu-item-name">color</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/typography/">
          <strong>typography</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="column-count">
  <a class="list-name" href="{{site.url}}/property/column-count">
    <span class="menu-item-name">column-count</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="column-gap">
  <a class="list-name" href="{{site.url}}/property/column-gap">
    <span class="menu-item-name">column-gap</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="column-width">
  <a class="list-name" href="{{site.url}}/property/column-width">
    <span class="menu-item-name">column-width</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="content">
  <a class="list-name" href="{{site.url}}/property/content">
    <span class="menu-item-name">content</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="cursor">
  <a class="list-name" href="{{site.url}}/property/cursor">
    <span class="menu-item-name">cursor</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="display">
  <a class="list-name" href="{{site.url}}/property/display">
    <span class="menu-item-name">display</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="flex-basis">
  <a class="list-name" href="{{site.url}}/property/flex-basis">
    <span class="menu-item-name">flex-basis</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/flexbox/">
          <strong>flexbox</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="flex-direction">
  <a class="list-name" href="{{site.url}}/property/flex-direction">
    <span class="menu-item-name">flex-direction</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/flexbox/">
          <strong>flexbox</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="flex-flow">
  <a class="list-name" href="{{site.url}}/property/flex-flow">
    <span class="menu-item-name">flex-flow</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/flexbox/">
          <strong>flexbox</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="flex-grow">
  <a class="list-name" href="{{site.url}}/property/flex-grow">
    <span class="menu-item-name">flex-grow</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/flexbox/">
          <strong>flexbox</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="flex-shrink">
  <a class="list-name" href="{{site.url}}/property/flex-shrink">
    <span class="menu-item-name">flex-shrink</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/flexbox/">
          <strong>flexbox</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="flex-wrap">
  <a class="list-name" href="{{site.url}}/property/flex-wrap">
    <span class="menu-item-name">flex-wrap</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/flexbox/">
          <strong>flexbox</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="float">
  <a class="list-name" href="{{site.url}}/property/float">
    <span class="menu-item-name">float</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="font-family">
  <a class="list-name" href="{{site.url}}/property/font-family">
    <span class="menu-item-name">font-family</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/typography/">
          <strong>typography</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="font-size">
  <a class="list-name" href="{{site.url}}/property/font-size">
    <span class="menu-item-name">font-size</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/typography/">
          <strong>typography</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="font-style">
  <a class="list-name" href="{{site.url}}/property/font-style">
    <span class="menu-item-name">font-style</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/typography/">
          <strong>typography</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="font-variant">
  <a class="list-name" href="{{site.url}}/property/font-variant">
    <span class="menu-item-name">font-variant</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/typography/">
          <strong>typography</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="font-weight">
  <a class="list-name" href="{{site.url}}/property/font-weight">
    <span class="menu-item-name">font-weight</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/typography/">
          <strong>typography</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="font">
  <a class="list-name" href="{{site.url}}/property/font">
    <span class="menu-item-name">font</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/typography/">
          <strong>typography</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="height">
  <a class="list-name" href="{{site.url}}/property/height">
    <span class="menu-item-name">height</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/box-model/">
          <strong>box-model</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="justify-content">
  <a class="list-name" href="{{site.url}}/property/justify-content">
    <span class="menu-item-name">justify-content</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/flexbox/">
          <strong>flexbox</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="left">
  <a class="list-name" href="{{site.url}}/property/left">
    <span class="menu-item-name">left</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/positioning/">
          <strong>positioning</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="letter-spacing">
  <a class="list-name" href="{{site.url}}/property/letter-spacing">
    <span class="menu-item-name">letter-spacing</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/typography/">
          <strong>typography</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="line-height">
  <a class="list-name" href="{{site.url}}/property/line-height">
    <span class="menu-item-name">line-height</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collections:</span>
          <a href="{{site.url}}/box-model/">
            <strong>box-model</strong>
          </a>
          <a href="{{site.url}}/typography/">
            <strong>typography</strong>
          </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="list-style-image">
  <a class="list-name" href="{{site.url}}/property/list-style-image">
    <span class="menu-item-name">list-style-image</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="list-style-position">
  <a class="list-name" href="{{site.url}}/property/list-style-position">
    <span class="menu-item-name">list-style-position</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="list-style-type">
  <a class="list-name" href="{{site.url}}/property/list-style-type">
    <span class="menu-item-name">list-style-type</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="list-style">
  <a class="list-name" href="{{site.url}}/property/list-style">
    <span class="menu-item-name">list-style</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="margin-bottom">
  <a class="list-name" href="{{site.url}}/property/margin-bottom">
    <span class="menu-item-name">margin-bottom</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/box-model/">
          <strong>box-model</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="margin-left">
  <a class="list-name" href="{{site.url}}/property/margin-left">
    <span class="menu-item-name">margin-left</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/box-model/">
          <strong>box-model</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="margin-right">
  <a class="list-name" href="{{site.url}}/property/margin-right">
    <span class="menu-item-name">margin-right</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/box-model/">
          <strong>box-model</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="margin-top">
  <a class="list-name" href="{{site.url}}/property/margin-top">
    <span class="menu-item-name">margin-top</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/box-model/">
          <strong>box-model</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="margin">
  <a class="list-name" href="{{site.url}}/property/margin">
    <span class="menu-item-name">margin</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/box-model/">
          <strong>box-model</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="max-height">
  <a class="list-name" href="{{site.url}}/property/max-height">
    <span class="menu-item-name">max-height</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/box-model/">
          <strong>box-model</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="max-width">
  <a class="list-name" href="{{site.url}}/property/max-width">
    <span class="menu-item-name">max-width</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/box-model/">
          <strong>box-model</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="min-height">
  <a class="list-name" href="{{site.url}}/property/min-height">
    <span class="menu-item-name">min-height</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/box-model/">
          <strong>box-model</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="min-width">
  <a class="list-name" href="{{site.url}}/property/min-width">
    <span class="menu-item-name">min-width</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/box-model/">
          <strong>box-model</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="mix-blend-mode">
  <a class="list-name" href="{{site.url}}/property/mix-blend-mode">
    <span class="menu-item-name">mix-blend-mode</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="opacity">
  <a class="list-name" href="{{site.url}}/property/opacity">
    <span class="menu-item-name">opacity</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="order">
  <a class="list-name" href="{{site.url}}/property/order">
    <span class="menu-item-name">order</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/flexbox/">
          <strong>flexbox</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="outline-color">
  <a class="list-name" href="{{site.url}}/property/outline-color">
    <span class="menu-item-name">outline-color</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="outline-style">
  <a class="list-name" href="{{site.url}}/property/outline-style">
    <span class="menu-item-name">outline-style</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="outline-width">
  <a class="list-name" href="{{site.url}}/property/outline-width">
    <span class="menu-item-name">outline-width</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="outline">
  <a class="list-name" href="{{site.url}}/property/outline">
    <span class="menu-item-name">outline</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="overflow-wrap">
  <a class="list-name" href="{{site.url}}/property/overflow-wrap">
    <span class="menu-item-name">overflow-wrap</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="overflow-x">
  <a class="list-name" href="{{site.url}}/property/overflow-x">
    <span class="menu-item-name">overflow-x</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="overflow-y">
  <a class="list-name" href="{{site.url}}/property/overflow-y">
    <span class="menu-item-name">overflow-y</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="overflow">
  <a class="list-name" href="{{site.url}}/property/overflow">
    <span class="menu-item-name">overflow</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="padding-bottom">
  <a class="list-name" href="{{site.url}}/property/padding-bottom">
    <span class="menu-item-name">padding-bottom</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/box-model/">
          <strong>box-model</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="padding-left">
  <a class="list-name" href="{{site.url}}/property/padding-left">
    <span class="menu-item-name">padding-left</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/box-model/">
          <strong>box-model</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="padding-right">
  <a class="list-name" href="{{site.url}}/property/padding-right">
    <span class="menu-item-name">padding-right</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/box-model/">
          <strong>box-model</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="padding-top">
  <a class="list-name" href="{{site.url}}/property/padding-top">
    <span class="menu-item-name">padding-top</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/box-model/">
          <strong>box-model</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="padding">
  <a class="list-name" href="{{site.url}}/property/padding">
    <span class="menu-item-name">padding</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/box-model/">
          <strong>box-model</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="pointer-events">
  <a class="list-name" href="{{site.url}}/property/pointer-events">
    <span class="menu-item-name">pointer-events</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="position">
  <a class="list-name" href="{{site.url}}/property/position">
    <span class="menu-item-name">position</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/positioning/">
          <strong>positioning</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="resize">
  <a class="list-name" href="{{site.url}}/property/resize">
    <span class="menu-item-name">resize</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="right">
  <a class="list-name" href="{{site.url}}/property/right">
    <span class="menu-item-name">right</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/positioning/">
          <strong>positioning</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="text-align">
  <a class="list-name" href="{{site.url}}/property/text-align">
    <span class="menu-item-name">text-align</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/typography/">
          <strong>typography</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="text-decoration">
  <a class="list-name" href="{{site.url}}/property/text-decoration">
    <span class="menu-item-name">text-decoration</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/typography/">
          <strong>typography</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="text-indent">
  <a class="list-name" href="{{site.url}}/property/text-indent">
    <span class="menu-item-name">text-indent</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/typography/">
          <strong>typography</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="text-overflow">
  <a class="list-name" href="{{site.url}}/property/text-overflow">
    <span class="menu-item-name">text-overflow</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/typography/">
          <strong>typography</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="text-shadow">
  <a class="list-name" href="{{site.url}}/property/text-shadow">
    <span class="menu-item-name">text-shadow</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/typography/">
          <strong>typography</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="text-transform">
  <a class="list-name" href="{{site.url}}/property/text-transform">
    <span class="menu-item-name">text-transform</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/typography/">
          <strong>typography</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="top">
  <a class="list-name" href="{{site.url}}/property/top">
    <span class="menu-item-name">top</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/positioning/">
          <strong>positioning</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="transform-origin">
  <a class="list-name" href="{{site.url}}/property/transform-origin">
    <span class="menu-item-name">transform-origin</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="transform">
  <a class="list-name" href="{{site.url}}/property/transform">
    <span class="menu-item-name">transform</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="transition-delay">
  <a class="list-name" href="{{site.url}}/property/transition-delay">
    <span class="menu-item-name">transition-delay</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/transitions/">
          <strong>transitions</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="transition-duration">
  <a class="list-name" href="{{site.url}}/property/transition-duration">
    <span class="menu-item-name">transition-duration</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/transitions/">
          <strong>transitions</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="transition-property">
  <a class="list-name" href="{{site.url}}/property/transition-property">
    <span class="menu-item-name">transition-property</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/transitions/">
          <strong>transitions</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="transition-timing-function">
  <a class="list-name" href="{{site.url}}/property/transition-timing-function">
    <span class="menu-item-name">transition-timing-function</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/transitions/">
          <strong>transitions</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="transition">
  <a class="list-name" href="{{site.url}}/property/transition">
    <span class="menu-item-name">transition</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/transitions/">
          <strong>transitions</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="white-space">
  <a class="list-name" href="{{site.url}}/property/white-space">
    <span class="menu-item-name">white-space</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/typography/">
          <strong>typography</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="width">
  <a class="list-name" href="{{site.url}}/property/width">
    <span class="menu-item-name">width</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/box-model/">
          <strong>box-model</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="will-change">
  <a class="list-name" href="{{site.url}}/property/will-change">
    <span class="menu-item-name">will-change</span>
  </a>
</article>

<article class="menu-item list-item" data-property-name="word-break">
  <a class="list-name" href="{{site.url}}/property/word-break">
    <span class="menu-item-name">word-break</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/typography/">
          <strong>typography</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="word-spacing">
  <a class="list-name" href="{{site.url}}/property/word-spacing">
    <span class="menu-item-name">word-spacing</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/typography/">
          <strong>typography</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="z-index">
  <a class="list-name" href="{{site.url}}/property/z-index">
    <span class="menu-item-name">z-index</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/positioning/">
          <strong>positioning</strong>
        </a>
      </span>
    </p>
</article>

