<!DOCTYPE html>
<html class="is-single" data-template="single">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>{{page.property_name}} - {{site.title}}</title>
    <meta name="description" content="Learn how {{page.property_name}} works in CSS.">
    <link rel="stylesheet" type="text/css" href="{{site.url}}/css/website.css?v={{ site.time | date: "%Y%m%d%H%M" }}">

    <meta property="og:url" content="{{site.url}}{{page.url}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{page.property_name}} - {{site.title}}">
    <meta property="og:image" content="{{site.url}}/images/css-reference-share.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content="Learn how {{page.property_name}} works in CSS.">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@jgthms">
    <meta name="twitter:creator" content="@jgthms">
    <meta name="twitter:title" content="{{page.property_name}} - {{site.title}}">
    <meta name="twitter:image" content="{{site.url}}/images/css-reference-share.png">
    <meta name="twitter:description" content="Learn how {{page.property_name}} works in CSS.">

    {% include favicons.html %}
  </head>
  <body>
    {% include menu.html %}
    <main class="main">
      <div class="ola">
        {% include bsa.html %}
      </div>
      <section class="properties properties--single">
        {% include ff.html %}
        {{content}}
      </section>
    </main>
    {% include modals/share.html %}
    {% include google-fonts.html %}
    <script src="{{site.url}}/javascript/clipboard.min.js"></script>
    <script src="{{site.url}}/javascript/main.js"></script>
    <script src="{{site.url}}/javascript/single.js"></script>
    {% include noscript.html %}
  </body>
</html>
